div {
    border: 5px solid black;
    margin: 10px;
    padding: 5px;
    width: 50%;
}

img {
    width: 150px;
}

.div-1 {
    display: flex;   
}

.imagen {
    flex: 1 1 100px;
    
}

.div-2 {
    align-content: center;
    display: flex;
    flex-flow: column wrap;
    
}
.imagen2 {
    filter: sepia(100%);
    transition: sepia 5s ease 0;
}

.imagen2:hover {
    filter: sepia(0);
}
