div {
    align-content: center;
    border: 10px solid black;
    margin: 10px;
    text-align: center;
}
.div-1 {
    background: rgb(237, 237, 202);
    border-radius: 10px 50px 500px 500px;
    height: 200px;
    width: 25%
}
.div-2 {
    background: rgb(202, 237, 210);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.div-3 {
    border-image: url(imagenes/cuadro.jpg) 100 100 fill / 150 150 / 1 round ;
    font-size: 30px;
    height: 200px;
    width: 50%;
}
.div-4 {
    box-shadow: 5px 5px 50px 5px rgb(0,100,0);
    height: 200px;
    width: 25%;
}
.div-5 {
    box-shadow: inset 0px 0px 50px 50px rgb(0,0,0);
    height: 200px;
    width: 25%;
}