.la-caja {
    align-content: center;
    background-color: rgb(150,150,225);
    border: 5px solid rgb(0,0,0);
    box-sizing: border-box;
    height: 100px;
    text-align: center;
    width: 50%;
}
