* {
    margin: 0;
    padding: 0; 
}
div {
    border: 1px solid black;
    text-align: center;
}
/*Selectores de inicio*/
a[title^='Youtube'] {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255 , 0, 0 );
    cursor: crosshair;
    
}
/*Selectores de final*/
a[title$='Edomex'] {
    font-size: 30px;
    text-decoration: overline;
    color: rgb(161, 35, 16);
}
/*Selectores arbitrarios*/
a[title*='Boy'] {
    color: rgb(11, 119, 140);
    font-size: 32px;
}
/*General and Adyacent sibling combinators*/
h2 + p {
    color: rgb(0,200,50);
}
h2 ~ p {
    font-size: 20px;
}
