div {
    align-content: center;
    border: 10px solid rgb(0,0,0);
    height: 200px;
    margin: 10px;
    text-align: center;
    width: 25%;
}
.div-1 {
    background: rgb(0,0,0);
}
.div-1 span {
    background: rgb(255,255,255);
    opacity: .5;
    padding: 20% 40%;
}
.div-2 {
    color: rgb(0,0,255,.5);
    font-size: 30px;
}
.div-2 span {
    color: rgb(0,0,255);
}
.div-3 {
    color: hsl(200, 100% ,50%);
    font-size: 30px;
}
